.footer{
    height: 100%;
    width: 100%;
 
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    row-gap: 40px;
}
.footer img{
    width: 100px;
    height: auto;
}
.footer-col1{
    align-items: center;
    display: flex;
 justify-content: center;
 column-gap: 40px;
}
.links-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 35px;
}
.footer-col2{

}
.icons-footer{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.icons-footer i{
    transform: scale(1.7);
    cursor: pointer;
    color: var(--font-color);
    transition: all .5s linear;
}
.icons-footer i:hover{
color: var(--main-color);
}

.footer-col3{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    color: var(--font-color);
}
.footer-col3 span{

    font-family: "DM Sans", sans-serif;
   font-style: normal;
font-weight: 700;
}